.StartPage {
  margin: 0 auto;
  max-width: 500px;
  max-height: 823px;
  padding: 0 20px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  img {
    padding: 18px;
    width: 30vh;
  }
}
