.Favorites {
  margin: 0 auto;
  max-width: 500px;
  max-height: 823px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: scroll;

  .FavItem > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0 20px #00000023;
    animation: 0.8s ease-in 0s 1 slide-up;
  }
  @keyframes slide-up {
    from {
      margin-top: 0%;
      height: 100%;
    }

    to {
      margin-top: 100%;
      height: 100%;
    }
  }

  .FavItem:last-of-type {
    margin-bottom: 110px;
  }

  .Rating i {
    margin-right: 5px;
  }

  img {
    height: 235px;
    width: 100%;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
    z-index: 9999;
  }

  .Rating i {
    font-size: 1.5rem;
    filter: drop-shadow(0px 0px 8px #f8a2029a);
  }

  .ContainerRating {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .DeleteFavorite {
    font-size: 1.5rem;
  }

  .NoFav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    height: 100%;
    width: 50%;
    animation: 1s ease-in showMe2;
  }

  @keyframes showMe2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  button {
    border: none;
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .Rating {
    color: #d1d1cc;
    font-size: 1.5rem;
    transition: 0.6s ease-in-out;
  }

  .RatingActive {
    color: #ffad14;
    font-size: 1.5rem;
    filter: drop-shadow(0px 0px 8px #f8a2029a);
    transition: 0.6s ease-in-out;
  }

  .NumRating {
    margin-left: 10px;
    font-size: 1.1rem;
  }
}
