.PlaceInfo {
  margin: 0 auto;
  max-width: 500px;
  max-height: 823px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .Marker {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 3px 3px #00000048;
    border: 3px solid #ffffff;
    padding: 0;
    transition: 0.6s ease-in-out;
  }

  .Marker:hover {
    transform: scale(1.5);
    transition: 0.6s ease-in-out;
    box-shadow: 3px 3px 10px #00000048;
  }

  .Marker {
    animation: 0.9s ease-in showMe;
  }

  @keyframes showMe {
    from {
      opacity: 0;
      transform: scale(3);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slide-up {
    from {
      margin-top: 62px;
      height: 0%;
      opacity: -1;
    }

    to {
      margin-top: 0px;
      height: 62%;
      opacity: 1;
    }
  }

  .PlaceInfoTab {
    animation: 0.5s ease-in 0s 1 slide-up;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 62%;
    padding: 0 20px;
    box-shadow: 0px -10px 20px #00000023;
    border-radius: 40px 40px 0px 0px;
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    transition: opacity 0.5s, margin-top 2s, margin-bottom 2s;
    overflow: scroll;
  }

  .MediumTextBold {
    margin-top: 30px;
  }

  .Rating i {
    margin-right: 5px;
  }

  .PlaceInfoTab img {
    height: 188px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
    z-index: 9999;
  }

  .Rating i {
    font-size: 1.5rem;
    filter: drop-shadow(0px 0px 8px #ffad4783);
  }

  .Favorite {
    font-size: 1.9rem;
    color: #d1d1cc;
    transition: 0.6s ease-in-out;
  }

  .FavoriteActive {
    font-size: 1.9rem;
    color: #ff3f4f;
    filter: drop-shadow(0px 0px 10px #ff3f4fbd);
    transition: 0.6s ease-in-out;
  }
  .Favorite:hover {
    font-size: 1.9rem;
    color: #ff3f4f;
    filter: drop-shadow(0px 0px 5px #ff3f4f91);
    transition: 0.6s ease-in-out;
  }

  button {
    border: none;
    outline: none;
  }

  p {
    margin: 5px 0;
  }

  .PlaceInfoTab > div {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Map {
    animation: 0.1s ease-in 0s 1 slide-up;
  }

  //hide mapboxlogo
  div.mapboxgl-ctrl-bottom-left,
  div.mapboxgl-ctrl-bottom-right {
    display: none;
  }

  .Photo {
    margin: 10px 0 110px 0;
  }

  .BackBtn {
    font-size: 2rem;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 3px 3px 15px #00000048;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    z-index: 5;
  }
}
