.Login {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 500px;
  max-height: 823px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .MediumText {
    text-align: center;
  }

  .Hyperlink {
    margin: 30px 0;
  }
}
