.Login {
  margin: 0 auto;
  max-width: 500px;
  max-height: 823px;
  height: 100vh;
  background-color: white;

  .Container {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    align-content: space-around;
  }

  .MediumText {
    text-align: center;
  }

  .Hyperlink {
    margin: 30px 0;
  }
}
