.Explore {
  margin: 0 auto;
  max-width: 500px;
  max-height: 823px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  animation: 1s ease-in showMe2;

  @keyframes showMe2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .RamdonImage {
    top: 0 !important;
    margin-top: 0;
    padding: 0;
  }

  input {
    width: 90%;
  }

  .Form {
    top: 290px;
    padding: 0 20px;
  }

  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .slides {
    position: relative;
  }

  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .slides .slick-prev {
    left: 5%;
  }

  .slides .slick-next {
    right: 5%;
  }

  .slick-slide {
    display: flex;
  }

  .slick-list {
    width: 100vw;
  }

  @media screen and (min-width: 500px) {
    .slick-list {
      width: 500px;
    }
  }

  img {
    // width: 380px !important;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 280px;
    padding: 0;
  }

  .DescriptionPhoto {
    color: #ffffffe7;
    text-shadow: #000000de 1px 1px 2px, #000000de 1px 1px 6px;
    text-align: right;
    border-radius: 40px 40px 0px 0px;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .DescriptionPhoto span:last-child {
    font-weight: normal;
  }

  //hide mapboxlogo
  div.mapboxgl-ctrl-bottom-left,
  div.mapboxgl-ctrl-bottom-right {
    display: none;
  }

  h1 {
    position: fixed;
    top: 0;
    color: #ffffffe7;
    text-shadow: #0000008e 3px 3px 5px;
  }

  .Map {
    position: fixed;
  }

  .Marker {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 3px 3px #00000048;
    border: 2px solid #fff;
    transition: 0.6s ease-in-out;
  }

  .Marker:hover {
    transform: scale(2);
    transition: 0.6s ease-in-out;
    box-shadow: 3px 3px 10px #00000048;
  }

  .Marker {
    animation: 0.8s ease-in showMe;
  }

  @keyframes showMe {
    from {
      opacity: 0;
      transform: scale(3);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .Map {
    animation: 0.1s ease-in 0s 1 slide-up;
  }
  @keyframes slide-up {
    from {
      margin-top: 100%;
      height: 62%;
    }

    to {
      margin-top: 0%;
      height: 62%;
    }
  }
}
